:root{
    --cell-size:200px;
    --color: #81c3fd;
    --color-set: #0275d8;
    --l: 10px;
} 

body{
    margin:0;
}

#restart-btn{
    border-radius: 10px;
    font-size: 2rem;
    background-color: white;
    border: 1px solid var(--color-set);
    padding: .25em;
    cursor: pointer;
    width: 200px;
}

#restart-btn:hover{
    background-color: var(--color-set);
    color: white;
    border-color: white;
}


#textPlay{
    text-align:center;
    font-size:xx-large;
    height: 50px;
    width: 300px;
}

#head {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    justify-items: center;
    align-items: center;
    
}

.boardclass {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
   
}

.cell {
    width: 160px;
    height: 160px;
    display: grid;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 0;

}

.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9){
    border-right: none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom: none;
}


.Cross {
    width: 150px;
    height: 150px;
    position: relative;
    transform: rotate(45deg) ;
}

.Cross:before, .Cross:after{
    content: "";
    position: absolute;
    background-color: blue;
}

.Cross:before{
    left: 50%;
    width: 25%;
    margin-left: -15%;
    height: 100%;
}

.Cross:after{
    top: 50%;
    height: 25%;
    margin-top: -15%;
    width: 100%;

}

.Circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 25px solid red;
    box-sizing: border-box;
}

#Scoremessage{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 0 3rem 0 3rem;
    justify-items: center;
    align-items: center;
    background-color: darkolivegreen;
    color: aliceblue;
    font-size: medium;
}



/* 
//for Cross 
.board.x .cell:not(.circle):not(.x):hover{
    background: linear-gradient(to top right, transparent calc(50% - var(--l)/2), var(--color) calc(50% - var(--l)/2) calc(50% + var(--l)/2), transparent calc(50% + var(--l)/2)),
    linear-gradient(to bottom right, transparent calc(50% - var(--l)/2), var(--color) calc(50% - var(--l)/2) calc(50% + var(--l)/2), transparent calc(50% + var(--l)/2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell:not(.circle).x{
    background: linear-gradient(to top right, transparent calc(50% - var(--l)/2), var(--color-set) calc(50% - var(--l)/2) calc(50% + var(--l)/2), transparent calc(50% + var(--l)/2)),
    linear-gradient(to bottom right, transparent calc(50% - var(--l)/2), var(--color-set) calc(50% - var(--l)/2) calc(50% + var(--l)/2), transparent calc(50% + var(--l)/2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

//for circle
.board.circle .cell:not(.circle):not(.x):hover{
    background: radial-gradient(var(--color) 60%, transparent 60% );
}

.cell:not(.x).circle{
    background: radial-gradient(var(--color-set) 60%, transparent 60% );
}


#Winningmessage{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-set);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
}

#Winningmessage button{
    border-radius: 10px;
    font-size: 3rem;
    background-color: white;
    border: 1px solid var(--color-set);
    padding: .25em;
    cursor: pointer;
}

#Winningmessage button:hover{
    background-color: var(--color-set);
    color: white;
    border-color: white;
}

#Winningmessage.show{
    display: flex;
}
 */




















